{% extends 'base.html.twig' %}

{% block body %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for message in flashes %}
            <div class="alert alert-{{ label }}">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}

    <p> hello from the main page </p>

    {% if user != null %}
        <p>Welcome, {{ app.user.username }}!</p>
        <a href=" {{ path('logout') }} ">Logout</a>
    {% else %}
        <button><a href="/login">Login</a></button>
        <button><a href="/register">Register</a></button>
    {% endif %}

    <a href="{{ path('admin_user_list') }}">
        <button>Admin Panel</button>
    </a>

    <br>
    <br>

    {% block posts %}
        {% include '@E03/posts.html.twig' %}
    {% endblock %}

{% endblock %}