{% extends '::base.html.twig' %}

{% block body %}
    <h1>Employee List</h1>

    <a href="{{ path('new') }}">Create New Employee</a>

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <a href="{{ path('edit', {'id': employee.id}) }}">Edit</a>
                    <a href="{{ path('delete', {'id': employee.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}